body {
    display: flex;             /* Ermöglicht Flexbox-Layout */
    justify-content: center;   /* Zentriert Elemente horizontal */
    align-items: center;       /* Zentriert Elemente vertikal */
    height: 100vh;            /* Volle Höhe des Viewports */
    margin: 0;                /* Entfernt Standardmargin */
}

h1.Headline {
    text-align: center;       /* Zentriert den Text innerhalb des h1-Elements */
}
